
scikit-learn
cufflinks
dask
dask[distributed]
dask[dataframe]
numpy
packaging
pandas
Pillow
plotly
prophet
pycaret
python-dotenv
Requests
streamlit
streamlit_lottie
utils
vaderSentiment
xgboost
yfinance
